		<div class="entry-meta">
		  <span class="sep">Posted on </span><a href="{{ article.url }}" title="{{ article.date|strftime('%I:%M %p') }}" rel="bookmark" class="url u-url"><time class="entry-date updated published dt-updated dt-published" datetime="{{ article.date.isoformat() }}" itemprop="dateModified datePublished">{{ article.locale_date }}</time></a><address class="byline"> <span class="sep"> by </span> <span class="author p-author vcard hcard h-card" itemprop="author " itemscope itemtype="http://schema.org/Person">

              <a class="url uid u-url u-uid fn p-name" href="{{ SITEURL }}/{{ article.author.url }}" title="View all posts by {{ article.author }}" rel="author" itemprop="url"><span itemprop="name">{{ article.author }}</span></a></span></address>
        </div><!-- .entry-meta -->
