    {% extends "base.html" %}

    {% block title %}{{ article.title|striptags }} &ndash; {{ SITENAME }}{% endblock %}

    {% block content %}

<section id="primary">
  <main id="content" role="main" class="h-entry hentry">

    <nav id="nav-above">
      {% include 'article_navigation.html' %}
    </nav><!-- #nav-above -->

    <article id="{{ article.slug }}" class="post type-post status-publish format-standard" itemref="site-publisher">
      <header class="entry-header">
        <h1 class="entry-title p-name" itemprop="name headline"><a href="{{ article.url }}" class="u-url url" title="Permalink to {{ article.title }}" rel="bookmark" itemprop="url">{{ article.title }}</a></h1>

        {% include 'article_meta.html' %}
      </header><!-- .entry-header -->

      <div class="entry-content e-content" itemprop="description articleBody">

          {# TODO article.headerimage support? #}
          {% if article.headerimage %}
          <div class="headerimage-article">
            <img src="{{ article.headerimage }}" style="width: 100%;">
            {% if article.headerimagecaption %}
            <p class="caption">{{ article.headerimagecaption }}</p>
            {% endif %}
          </div>
          {% endif %}

          {{article.content}}

      </div><!-- .entry-content -->

<footer class="entry-meta">
    Posted		<span class="cat-links">
        in <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category tag">{{ article.category }}</a>	</span>

    <span class="sep"> | </span>
    {% if article.tags %}
    <span class="tag-links" itemprop="keywords">
      Tagged
      {% for tag in article.tags %}
      <a class="p-category" href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>{%if not loop.end %},{% endif %}
      {% endfor %}
    </span>
    {% endif %}

        {% if SEMLICAN_ISSO_DATA_URL %}
        <span class="sep"> | </span>
        <span class="comments-link"><a href="https://projectgus.com/2022/01/sha2017-badge-solar-monitor/#comments">Comments</a></span>
        {% endif %}

    </footer><!-- #entry-meta -->

      </article>

    <nav id="nav-below">
      {% include 'article_navigation.html' %}
    </nav><!-- #nav-below -->

    {% if SEMLICAN_ISSO_DATA_URL %}
    <div id="comments">
      <h2 id="comments-title">
	    Thoughts on “<span>{{ article.title }}</span>”
      </h2>
      <script data-isso="{{ SEMLICAN_ISSO_DATA_URL }}/"
              data-isso-css="false" data-isso-vote="false"
              src="{{ SEMLICAN_ISSO_SRC_URL "></script>
      <section id="isso-thread"></section>
      <noscript>Comments provided using self-hosted <a href="https://github.com/posativ/isso/">Isso. JavaScript is unfortunately required.</noscript>
    </div> <!-- #comments -->
    {% endif %}

  </main><!-- #content -->
</section><!-- #primary -->

{% endblock content %}
