{% extends "base.html" %}

{% block content %}

<section id="primary">
  <main id="content" role="main" class="">

    {% block content_title %}
    {% endblock content_title %}

    {% if True or articles_page.has_previous() or articles_page.has_next() %}
    <nav id="nav-above">
      {% include 'index_navigation.html' %}
	</nav><!-- #nav-above -->
    {% endif %}

    {% for article in articles_page.object_list %}
    {% include 'index_article.html' %}
    {% endfor %}

    {% if articles_page.has_previous() or articles_page.has_next() %}
    <nav id="nav-below">
      {% include 'index_navigation.html' %}
	</nav><!-- #nav-below -->
    {% endif %}



  </main><!-- #content -->
</section><!-- #primary -->

{% endblock content %}
