<aside id="sidebar">
  <div id="secondary" class="widget-area" role="complementary">

    <section id="recent-posts-3" class="widget widget_recent_entries">
		<h3 class="widget-title">Recent Posts</h3>
		<ul>
          {% for recent in dates[:5] %}
		  <li>
			<a href="{{ SITEURL }}/{{ recent.url }}">{{ recent.title }}</a>
          </li>
          {% endfor %}
	    </ul>
	</section>

    {# Don't show archives on 'period' or 'tag' pages, because 'dates' variable
    is filtered to just the articles shown on that page #}
    {%if YEAR_ARCHIVE_SAVE_AS and not (period or tag) %}
	<section id="archives" class="widget">
	  <h3 class="widget-title">Archives</h3>
	  <ul>
        {% for year in dates|map(attribute='date')|map(attribute='year')|unique %}
        {# TODO make this work with other values of YEAR_ARCHIVE_SAVE_AS #}
		<li><a href='{{ SITEURL }}/{{ year }}'>{{ year }}</a></li>
        {% endfor %}
	  </ul>
	</section>
    {% endif %}

  </div><!-- #secondary .widget-area -->

</aside>
